@mixin font-size ($font-size: 12) {
  $rem-size: $font-size * 0.1;

  font-size: $font-size + px;
  font-size: $rem-size + rem;
}

@mixin hover() {
  opacity: 1;
  transition: opacity 0.3s $easeOutSine;

  &:hover {
    opacity: 0.5;
  }
}

@mixin img-hover() {
  opacity: 0.5;
  transition: opacity 0.4s $easeInOutQuad;

  &:hover {
    opacity: 0.9;
  }
}