.artist-contents-wrap {
  width: 100%;
}

.artist-contents {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 25px;

  &_master {
    padding: 0 25px 60px;
    padding-top: calc(50vh - 245px);
    // min-height: calc(50vh - 140);
  }

  &_member {
    flex-flow: row-reverse;

    .artist-image-wrap {
      margin-left: 80px;
    }
  }

  @include tb {
    &_master {
      .artist-image-wrap {
        margin-right: 25px;
      }
    }

    &_member {
      .artist-image-wrap {
        margin-left: 25px;
      }
    }
  }

  @include sp {
    display: block;

    &_master {
      padding-top: 80px;
    }

    &_member {
      .artist-image-wrap {
        margin-left: 0;
      }
    }
  }
}

.artist-image-wrap {
  width: calc(40% + 80px);
  opacity: 0.5;
  @include tb {
    width: calc(40% + 25px);
  }

  @include sp {
    width: 100%;
    margin: 0 0 40px;
  }

  &_member {
    @include img-hover;
  }
}

.artist-image-link {
  width: 100%;
  display: block;
}

.artist-image {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;

  @include sp {
    width: 100%;
    max-width: 100%;
  }
}

.artist-introduction {
  @include font-size(18);
  width: 60%;
  text-align: center;
  color: #fff;

  @include sp {
    width: 100%;
  }
}

.artist-name-wrap {
  margin-bottom: 10px;
}

.artist-name {
  padding-bottom: 5px;
  font-weight: normal;
  display: inline;
  border-bottom: solid 1px #fff;
}

.artist-type {
  padding-bottom: 10px;
}

.artist-skill-list {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.artist-skill-lists {
  margin-right: 20px;
  position: relative;

  &::after {
    content: '/';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -17px;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      content: none;
    }
  }
}
