.top {
  width: 100%;
}

.top-inner {
  padding-top: calc(50vh - 183px);
}

.top-title {
  display: none;

  @include sp {
    @include font-size(18);
    display: block;
    text-align: center;
    font-weight: normal;
    color: #fff;
    line-height: 1.4;
  }
}