extends ./shared/template/layout/_default

block vars
  -
    var title = 'shintaro-web'

block main
  .top
    .top-inner
      h2#js-top-text.top-title.js-typing(data-text=`${data.siteWide.subTitle}`)
